/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.note-enter-active,
.note-leave-active {
  transition: all 0.3s ease;
}
.note-enter-from,
.note-leave-to {
  opacity: 0;
  transform: translateX(200px);
}

.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-visible {
  overflow: visible !important;
}